*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: monteserat;
}
nav{
   background: #ffffff;
   height: 80px;
   width: 100;
}
label.logo{
    color:rgb(20, 19, 19);
    float:unset;
    font-size: 35px;
    line-height: 50px;
    padding: 0 100px;
    font-weight:bolder;
}
nav ul{
    float: right;
    margin-right: 20px ;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
  color:black;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: lowercase;
}
a.active,a:hover{
    background: white;
    transition: .5s;
}

.socials img {
    height: 30px;
    width: 30px;
}
.card{
    float: left;
    width: 33.33%;
    padding: 5px;

}
.sec1::after{
    content: "";
    clear: both;
    display: table;
}
.menu-card{
    float: left;
    width: 33%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 12px;
    margin-right: 2px;

}
.menu::after{
    content: "";
    clear: both;
    display: table;
}

.tagline{
    width: 50%;
}

.icon{
    width: 50%;
}

.icon img {
    float: right;
    padding :20px;
}

.sec0{
    display: flex;
    flex-direction: row;
    font-family: Arial;
    column-count: 3;
    justify-content: space-between;
    height: 700px;
    width: 100%;
    padding-top: 120px;
    padding-left: 160px;
    background-image: url(/images/Untitled\ \(1\).png);
    background-repeat: no-repeat ;
    background-size: cover;
}

.f1 {
    display: flex;
    flex-direction: row;
}

.f1 div {
    width: 33.33%;
    padding: 5px;
}

.f2 {
    display: flex;
    flex-direction: row;
}

.f2 div {
    width: 33.33%;
    padding: 5px;
}

.discover {
    display: flex;
    flex-direction: row;
    background-color: #F6B400;
    height: 400px;
    padding-bottom: 120px;
    padding-top: 120px;
    padding-left: 160px;

}



.discover div {
    width: 50%;
}

.menu{
text-align: center;
float:right;
}

 .decker{
    display: flex;
    flex-direction: row;
    font-family: Arial;
    column-count: 3;
    justify-content: space-between;
    height: 400px;
    width: 100%;
    padding-top: 120px;
    padding-left: 160px;
}


