*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}

}
nav{
   background: #ffffff;
   height: 80px;
   width: 100;
}
.logo{
    color:rgb(20, 19, 19);
    float:unset;
    font-size: 35px;
    line-height: 50px;
    font-weight:bolder;
}

label .logo{
    padding-bottom: 0px;
}
nav ul{
    float: right;
    margin-right: 20px ;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;

}
nav ul li a{
  color:black;
  font-size: 30px;
  padding: 7px 13px;
  border-radius: 3px;
 
}
.header{
    background-image: url(images/Untitled\ \(1\).png);
    background-size: cover;
}
a.active,a:hover{
    background: white;
    transition: .5s;
}

.socials img {
    height: 30px;
    width: 30px;
}
.custom-size{
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 40px;
  
}


.sec1::after{
    content: "";
    clear: both;
    display: table;
}
.menu-card{
    float: left;
    width: 350px;
    height:400px ;
    padding: 50px;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
    margin-right: 2px;
    box-shadow: 0px 6px 8px 0px rgba(0, 0 ,0,0.5);
    margin-left: 100px;
    

}
.menu::after{
    content: "";
    clear: both;
    display: table;
}

.tagline{
    width: 50%;
}

.icon{
    width: 50%;
}

.icon img {
    float: right;
    padding :20px;
}

.sec0{
    display: flex;
    flex-direction: row;
    font-family: Arial;
    column-count: 3;
    justify-content: space-between;
    height: 700px;
    width: 100%;
    padding-top: 120px;
    padding-left: 160px;
    background-repeat: no-repeat ;
    background-size: cover;
}

.f1 {
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: #E1EBE6;
}

.f1 div {
    width: 33.33%;
    padding: 5px;
    
   

}

.f2 {
    display: flex;
    flex-direction: row;
}

.f2 div {
    width: 33.33%;
    padding: 5px;
}

.discover {
    display: flex;
    flex-direction: row;
    background-color: #F6B400;
    height: 6000px;
    align-items: center;
    padding: 250px;

}

.clr {
    color: #F6B400;
}

.discover {
    width: 100%;
    height: 400px;
}

.menu{
text-align: center;
float:right;

}
.menu h1{
    font-size: 35px;
}

 .decker{
    display: flex;
    flex-direction: row;
    font-family: Arial;
    column-count: 3;
    justify-content: space-between;
    height: 600px;
    width: 100%;
    padding-top: 120px;
    padding-left: 160px;
    padding: 150px;
    background-color: #E1EBE6;
    margin-top: 70px;
}
.card{

    float: left;
    width: 33.33%;
    padding: 5px;
    margin: 50px;
    height: 400px;
    width: 450px;
    border: 1px solid #111;
   text-align: center;
    border-radius: 10px;
    padding: 50px;
    align-items: center;
}
.container{
    padding: 50px;
}
.container h2{
    padding: 20px;
}
.btn{
    color: white;
    border: none;
  background-color: #F6B400;
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;

}
.image{
    margin-left: 50px;
}
.slider{
   
    align-items: center;
    
}

.double{
    display: flex;
    padding-right: 400px;
    padding-top: -300px;
}
.mnu{
    margin-right: 300px;
    align-items: center;
}


.sec1{
    align-items: center;
    margin-left: 100px;
}
.mu{
    margin-left: 175px;
    
}
.deck h1{
    font-size: 45px;
}
.deck{
    text-align: center;
    padding: 50px;
}
.btn{
    border: none;
}